*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container{
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}
.navbar{
  width: 100;
  display: flex;
  align-items: center;
}
.logo{
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}
.menu-icon{
  width: 25px;
  cursor: pointer;
  display: none;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin: 30px;
}
nav ul li a{
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
nav ul li a:hover{
  color: #ff5ea2;
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}

.col-1{
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}
.col-1 h2{
  font-size: 70px;
  color: #312f30;
  
  
}
.col-1 h1{
  font-size: 54px;
  color: #441e1b;
  
}
.col-1 h3{
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px;
}
.col-1 h3:hover{
  color: #fb5283;
  font-weight: 100;
  margin: 20px 0 10px;
  
}
.col-1 p{
  font-size: 16px;
  color: #b7b7b7;
  font-weight: 100;
}
.col-1 h4{
  margin: 30px 0;
  font-size: 24px;
}
button{
  width: 150px;
  /*height: 60px;*/
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #fb5283, #ff3527);
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.5s;
}
button img{
  width: 43px;
  display: none;
}
button:hover img{
  display: block;
  
}
button:hover{
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.col-1::after{
  content: '';
  width: 11px;
  height: 95%;
  background: linear-gradient( #ff469f, #ff6062);
  position: absolute;
  left: -40px;
  top: 8px;
}
.col-2{
  position:relative;
  flex-basis: 40%;
  display: flex;
  align-items: center;
}
.col-2 .controller{
width: 80%;
}
.color-box{
  position: center;
  right: 0;
  background: linear-gradient( #ff54a2, #ff575a);
  border-radius: 10px 0 0 10px;
  height: 500px;
  width: 22px;
  z-index: -1;
  transform: translateX(50px);
}
/*.add-btn img{
  width: 35px;
  margin-bottom: 5px;
}
.add-btn{
  text-align: center;
  color: #000;
  cursor: pointer;
}*/
.sociallinks img{
  height: 13px;
  margin: 20px;
  cursor: pointer;

}
.sociallinks{
  /*text-shadow: #ff3527;*/
  text-align: center;
}
.sociallinks img:{
  color: #ff54a2;
}

@media only screen and (max-width:700px){
  .logo{
    width: 40px;
    cursor: pointer;
    margin: 30px 0;
  }
  nav ul{
    width: 100%;
    height: 150px;
    background: linear-gradient( #ff54a2, #ff575a);
    position: absolute;
    top: 69px;
    right: 0px;
    z-index: 2;
    border-radius: 10px 0 0 10px;
  }
  nav ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: #fff;
  }
  .menu-icon{
    display: block;
    width: 19px;
  }
  #menulist{
    overflow: hidden;
    transition: 0.5s;
  }
  .row{
    flex-direction: column-reverse;
    margin: 50px 0;
  }
  .col-2{
    flex-basis: 100%;
    margin-bottom: 50px;
    display: none;
  }
  .col-2 .controller{
    width: 77%;
  }
  .col-1{
    flex-basis: 100%;
  }
  .col-1 h2{
    font-size: 35px;
  }
  .col-1 h3{
    font-size: 15px;
  }
  .color-box{
    display: none;
  }
  button:hover{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


